include pyproject.toml
include README.rst
include CHANGES.rst

include setup.cfg
include hoki/tests/coveragerc

recursive-include hoki *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
